# Самостоятельное задание 1 (+1 балл к оценке за курс).

In [615]:
import pandas as pd
import time
import numpy as np

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

Создадим функции, чтобы получать путь к файлику:

In [616]:
def info(ind):
    path = "/Users/arina/Downloads/Activities-analysis-main/Data/Students_info_" + ind + ".csv"
    return path  

def marks(ind):
    path = "/Users/arina/Downloads/Activities-analysis-main/Data/Students_marks_" + ind + ".csv"
    return path

Соберем все в одну таблицу:

In [648]:
df = pd.concat([pd.read_csv(info(str(0))), pd.read_csv(marks(str(0)))], axis=1)

for i in range(1, 10):
    info_i = pd.read_csv(info(str(i)))
    marks_i = pd.read_csv(marks(str(i)))
    df_group = pd.concat([info_i, marks_i], axis=1)
    df = pd.concat([df, df_group])

Наводим красоту:

In [649]:
df = df.reset_index() 
df = df.drop(columns=['level_0'])
df.head(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,index,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,0,72,72,74
1,1,female,group C,some college,standard,completed,group1,1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,2,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,3,47,57,44
4,4,male,group C,some college,standard,none,group1,4,76,78,75
5,5,female,group B,associate's degree,standard,none,group1,5,71,83,78
6,6,female,group B,some college,standard,completed,group1,6,88,95,92
7,7,male,group B,some college,free/reduced,none,group1,7,40,43,39
8,8,male,group D,high school,free/reduced,completed,group1,8,64,64,67
9,9,female,group B,high school,free/reduced,none,group1,9,38,60,50

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [619]:
df = df.drop(columns=['index'])

In [620]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [621]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [622]:
df.describe().loc[["min", "max", "mean", "std"]]

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

то же самое словами..

In [623]:
ans = df.describe()

print("math score")
print("Минимум: ", ans["math score"]["min"])
print("Максимум: ", ans["math score"]["max"])
print("Среднее значение: ", ans["math score"]["mean"])
print("Стандартное отклонение: ", ans["math score"]["std"])

print()

print("reading score")
print("Минимум: ", ans["reading score"]["min"])
print("Максимум: ", ans["reading score"]["max"])
print("Среднее значение: ", ans["reading score"]["mean"])
print("Стандартное отклонение: ", ans["reading score"]["std"])

print()

print("writing score")
print("Минимум: ", ans["writing score"]["min"])
print("Максимум: ", ans["writing score"]["max"])
print("Среднее значение: ", ans["writing score"]["mean"])
print("Стандартное отклонение: ", ans["writing score"]["std"])

math score
Минимум:  0.0
Максимум:  100.0
Среднее значение:  66.089
Стандартное отклонение:  15.163080096009468

reading score
Минимум:  17.0
Максимум:  100.0
Среднее значение:  69.169
Стандартное отклонение:  14.60019193725222

writing score
Минимум:  10.0
Максимум:  100.0
Среднее значение:  68.054
Стандартное отклонение:  15.195657010869642

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [624]:
if (df.isnull().any(axis=1).sum() > 0):
    print("Есть пропущенные значения")
else:
    print("Нет пропущенных значений")

Нет пропущенных значений

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [625]:
ans.loc['mean']

math score       66.089
reading score    69.169
writing score    68.054
Name: mean, dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [626]:
completed = df[df["test preparation course"] == "completed"]
not_completed = df[df["test preparation course"] == "none"]

print("Средниe баллы студентов, проходивших курс для подготовки:", completed.mean(), sep='\n')
print()
print("Средние баллы студентов, не проходивших курс для подготовки:", not_completed.mean(), sep='\n')

Средниe баллы студентов, проходивших курс для подготовки:
math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64

Средние баллы студентов, не проходивших курс для подготовки:
math score       64.077882
reading score    66.534268
writing score    64.504673
dtype: float64

**Вывод**: у студентов, которые проходили курс для подготовки к сдаче экзамена, средний балл лучше.

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [627]:
set(df["lunch"])

{'free/reduced', 'standard'}

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [628]:
df = df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [629]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark > 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

Доля студентов, которая сдала экзамен по математике:

In [630]:
passed = df[df["math score"] > passmark]
print(len(passed) / len(df))

0.85

Доля студентов, проходивших курс подготовки к экзамену, которая сдала экзамен по математике:

In [631]:
prepared = df[df["test preparation"] == "completed"]
prepared_and_passed = prepared[prepared["math score"] > passmark]
print(len(prepared_and_passed) / len(prepared))

0.9078212290502793

Доля женщин, не проходивших курс подготовки к экзамену, которая не сдала экзамен по математике

In [632]:
women_not_prepared = df[(df["test preparation"] == "none") & (df["gender"] == "female")]
women_not_prepared_not_passed = women_not_prepared[women_not_prepared["math score"] <= passmark]
print(len(women_not_prepared_not_passed) / len(women_not_prepared))

0.23353293413173654

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [633]:
start_time = time.time()
print("Cредний балл за экзамен по чтению для каждой этнической группы:", 
      df.groupby('race/ethnicity')['reading score'].mean(), sep='\n\n')

time1 = time.time() - start_time
print("\nВремя выполнения: %s seconds" % time1)

Cредний балл за экзамен по чтению для каждой этнической группы:

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

Время выполнения: 0.003245115280151367 seconds

In [634]:
start_time = time.time()
print("Минимальный балл за экзамен по письму для каждого уровня образования:", 
      df.groupby('education')['writing score'].min(), sep='\n\n')

time2 = time.time() - start_time
print("\nВремя выполнения: %s seconds" % time2)

Минимальный балл за экзамен по письму для каждого уровня образования:

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

Время выполнения: 0.002259969711303711 seconds

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

$\underline{Cредний \; балл \; за \; экзамен \;по \;чтению \;для \;каждой \;этнической \;группы}:$

In [635]:
start_time = time.time()
SumA = 0
NumOfA = 0
SumB = 0
NumOfB = 0
SumC = 0
NumOfC = 0
SumD = 0
NumOfD = 0
SumE = 0
NumOfE = 0

for i in range(len(df)):
    if df['race/ethnicity'][i] == 'group A':
        SumA += df['reading score'][i]
        NumOfA += 1
    if df['race/ethnicity'][i] == 'group B':
        SumB += df['reading score'][i]
        NumOfB += 1
    if df['race/ethnicity'][i] == 'group C':
        SumC += df['reading score'][i]
        NumOfC += 1
    if df['race/ethnicity'][i] == 'group D':
        SumD += df['reading score'][i]
        NumOfD += 1
    if df['race/ethnicity'][i] == 'group E':
        SumE += df['reading score'][i]
        NumOfE += 1

print("Средний балл в группе А:", SumA / NumOfA)
print("Средний балл в группе B:", SumB / NumOfB)
print("Средний балл в группе C:", SumC / NumOfC)
print("Средний балл в группе D:", SumD / NumOfD)
print("Средний балл в группе E:", SumE / NumOfE)

time3 = time.time() - start_time
print("\nВремя выполнения: %s seconds" % time3)

Средний балл в группе А: 64.67415730337079
Средний балл в группе B: 67.35263157894737
Средний балл в группе C: 69.10344827586206
Средний балл в группе D: 70.03053435114504
Средний балл в группе E: 73.02857142857142

Время выполнения: 0.020617008209228516 seconds

In [636]:
print("Код из задания 11 работает быстрее кода из задания 12 на %s секунд" % (time3 - time1))

Код из задания 11 работает быстрее кода из задания 12 на 0.01737189292907715 секунд

$\underline{Минимальный \; балл \;за \;экзамен\; по\; письму\; для\; каждого\; уровня\; образования:}$

In [637]:
start_time = time.time()
associate = float('inf')
bachelor =  float('inf')
high_school = float('inf')
master = float('inf')
some_college = float('inf')
some_high_school = float('inf')

for i in range(len(df)):
    if df['education'][i] == 'associate\'s degree':
        associate = min(associate, df['writing score'][i])
    if df['education'][i] == 'bachelor\'s degree':
        bachelor = min(bachelor, df['writing score'][i])
    if df['education'][i] == 'high school':
        high_school = min(high_school, df['writing score'][i])
    if df['education'][i] == 'master\'s degree':
        master = min(master, df['writing score'][i])
    if df['education'][i] == 'some college':
        some_college = min(some_college, df['writing score'][i])
    if df['education'][i] == 'some high school':
        some_high_school = min(some_high_school, df['writing score'][i])
        
print("Минимальный балл за экзамен по письму для:",
      "\nassociate -- %d, \nbachelor -- %d, \nhigh school -- %d, \nmaster -- %d, \nsome college -- %d, \nsome high school -- %d" 
      % (associate, bachelor, high_school, master, some_college, some_high_school))

time4  = time.time() - start_time
print("\nВремя выполнения: %s seconds" % time4)

Минимальный балл за экзамен по письму для:
associate -- 35,
bachelor -- 38,
high school -- 15,
master -- 46,
some college -- 19,
some high school -- 10

Время выполнения: 0.0231778621673584 seconds

In [638]:
print("Код из задания 11 работает быстрее кода из задания 12 на %s секунд" % (time4 - time2))

Код из задания 11 работает быстрее кода из задания 12 на 0.020917892456054688 секунд

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [639]:
table = pd.pivot_table(df, values=['math score', 'writing score', 'reading score'], 
                       index=['gender', 'education'], aggfunc=np.mean)
table

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

Вначале создадим столбцы:

In [640]:
df['Math_PassStatus'] = df["math score"].apply(lambda x: 'F' if x < passmark else 'P')
df['Reading_PassStatus'] = df["reading score"].apply(lambda x: 'F' if x < passmark else 'P')
df['Writing_PassStatus'] = df["writing score"].apply(lambda x: 'F' if x < passmark else 'P')

Посчитаем количество студентов, не сдавших и сдавших каждый из экзаменов:

In [641]:
print('Количество студентов, сдавших экзамено по математике:', len(df[df['Math_PassStatus'] == 'P']))
print('Количество студентов, не сдавших экзамено по математике:', len(df[df['Math_PassStatus'] == 'F']))
    
print('Количество студентов, сдавших экзамено по чтению:', len(df[df['Reading_PassStatus'] == 'P']))
print('Количество студентов, не сдавших экзамено по чтению:', len(df[df['Reading_PassStatus'] == 'F']))
      
print('Количество студентов, сдавших экзамено по письму:', len(df[df['Writing_PassStatus'] == 'P']))
print('Количество студентов, не сдавших экзамено по письму:', len(df[df['Writing_PassStatus'] == 'F']))

Количество студентов, сдавших экзамено по математике: 865
Количество студентов, не сдавших экзамено по математике: 135
Количество студентов, сдавших экзамено по чтению: 910
Количество студентов, не сдавших экзамено по чтению: 90
Количество студентов, сдавших экзамено по письму: 886
Количество студентов, не сдавших экзамено по письму: 114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [642]:
df['OverAll_PassStatus'] = df.apply(lambda x: 'F' if x['Math_PassStatus'] == 'F' 
                                    or x['Reading_PassStatus'] == 'F' 
                                    or x['Writing_PassStatus'] == 'F'
                                    else 'P', axis=1)

print("Число студентов, которые сдали все экзамены:", len(df[df['OverAll_PassStatus'] == 'P']))

Число студентов, которые сдали все экзамены: 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####      90 и больше = A
####      80-89 = B
####      70-79 = C
####      60-69 = D
####      50-59 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [643]:
def GetGrade(average_mark):
    if average_mark >= 90:
        return 'A'
    if average_mark >= 80:
        return 'B'
    if average_mark >= 70:
        return 'C'
    if average_mark >= 60:
        return 'D'
    if average_mark >= 50:
        return 'E'
    return 'F'

In [644]:
df['average_marks'] = df.apply(lambda x: np.mean([x['math score'], x['reading score'], x['writing score']]), axis=1)
df['Grade'] = df['average_marks'].apply(GetGrade)
df = df.drop("average_marks", axis=1)

In [645]:
print('Количество студентов, получивших оценку А:', len(df[df['Grade'] == 'A']))
print('Количество студентов, получивших оценку B:', len(df[df['Grade'] == 'B']))
print('Количество студентов, получивших оценку C:', len(df[df['Grade'] == 'C']))
print('Количество студентов, получивших оценку D:', len(df[df['Grade'] == 'D']))
print('Количество студентов, получивших оценку E:', len(df[df['Grade'] == 'E']))
print('Количество студентов, получивших оценку F:', len(df[df['Grade'] == 'F']))

Количество студентов, получивших оценку А: 52
Количество студентов, получивших оценку B: 146
Количество студентов, получивших оценку C: 261
Количество студентов, получивших оценку D: 256
Количество студентов, получивших оценку E: 182
Количество студентов, получивших оценку F: 103